asgiref==3.7.2
black
certifi==2024.2.2
charset-normalizer==3.3.2
click
Django
django-cleanup==8.1.0
django-cors-headers
djangorestframework==3.14.0
djangorestframework-simplejwt
idna
mypy-extensions
packaging
pathspec
pexpect
pillow
platformdirs
ptyprocess
PyJWT
pytz
requests
sqlparse
urllib3
